---
layout: hero
---

<div class="container">
<!-- Content form goes here-->

<form>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputEmail4">Name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputPassword4">Position</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
    </div>
   

    <div class="form-row">
    <div class="form-group col-md-12">
        <label for="inputAddress">Email</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="inputEmail4">Work Phone</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="inputPassword4">Work Phone Extended</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="inputEmail4">Mobile</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Only ring phone in the event of an emergency
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">   
            <div class="col-sm-2">
               <h4>Education Type: </h4>
            </div> 
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">School</a>
        <a class="dropdown-item active" href="#">Alternative Education</a>
        <a class="dropdown-item" href="#">Kura Kaupapa</a>
        <a class="dropdown-item" href="#">Teen Parent Unit</a>
        <a class="dropdown-item" href="#">Other</a>
      </div>
    </div>

    <img src="img/map.png" alt="">

      <br>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

  <hr>





</div>