---
layout: hero
---

<div class="container">
<!-- Content form goes here-->

<form action="https://formspree.io/thetanewzealand@gmail.com" method="POST" />
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputEmail4">Name</label>
        <input type="text" name="Name" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="inputPassword4">Position</label>
        <input name="Position" type="text" class="form-control" id="inputEmail4" placeholder="">
      </div>
    </div>
   

    <div class="form-row">
    <div class="form-group col-md-12">
        <label for="inputAddress">Email</label>
        <input name="Email" type="email" class="form-control" id="inputAddress" placeholder="">
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <label for="inputEmail4">Work Phone</label>
          <input name="Work Phone" type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <label for="inputPassword4">Work Phone Extended</label>
          <input name="Work Phone Extended" type="text" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>


      <div class="form-group row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Only ring phone in the event of an emergency
            </label>
          </div>
          <div class="form-group col-md-6 col-sm-12">
                <label for="inputEmail4">Mobile</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="">
          </div>
        </div>
      </div>

      <div class="form-group row">      
      <div class="col-sm-6">
                <label for="sel1">Education Type:</label>
                <select name="Education Type" class="form-control" id="sel1">
                    <option>School</option>
                    <option>Alternative Education</option>
                    <option>Kura Kaupapa</option>
                    <option>Teen Parent Unit</option>
                    <option>Other</option>
                    </select>
      </div>
      <div class="col-sm-6">
            <label for="inputAddress">Education Name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="">
          </div>
    </div>
    
    <div class="form-row">
        <p>Address of where you're registering</p>
            <div class="form-group col-sm-12">
              <label for="inputEmail4">Address</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-sm-12">
              <label for="inputPassword4">Suburb</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="">
            </div>
            <div class="form-group col-sm-12">
                    <label for="inputPassword4">City</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="">
            </div>
          </div>
<hr>

<h3>School</h3>

    <img src="img/map.png" alt="">

    <p>Please refer to map above and select your preferred date(s) from the range below according to your area. </p>
      
    
    <div class="form-row">
           
                <div class="form-group col-sm-12">
                  <label for="inputEmail4">Input preffered dates here:</label>
                  <input name="Preferred Dates" type="text" class="form-control" id="inputEmail4" placeholder="dd/mm/yyyy - dd/mm/yyyy">
                </div>
    </div>

    <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="inputEmail4"><p>Total students attending the program:</p></label>
                  <input name="Number of year 9 students attending. (If blank then none are attending)" type="text" class="form-control" id="inputEmail4" placeholder="Year 9 Students">
                </div>
                <div class="form-group col-sm-4">
                        <label for="inputEmail4"><p>Total number of classes:</p></label>
                        <input name="Total Number of classes available" type="email" class="form-control" id="inputEmail4" placeholder="">
                      </div>
               
    </div>
    <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="inputEmail4"></label>
              <input name="Number of year 10 students attending. (If blank then none are attending)" type="text" class="form-control" id="inputEmail4" placeholder="Year 10 Students">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputEmail4"></label>
                <input name="Total Number of classes available" type="text" class="form-control" id="inputEmail4" placeholder="Year 11 Students">
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="inputEmail4"></label>
              <input name="Number of year 11 students attending. (If blank then none are attending)" type="text" class="form-control" id="inputEmail4" placeholder="Year 12 Students">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputEmail4"></label>
                <input name="Total Number of classes available" type="text" class="form-control" id="inputEmail4" placeholder="Year 13 Students">
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="inputEmail4"></label>
              <input name="Number of year 12 students attending. (If blank then none are attending)" type="text" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputEmail4"></label>
                <input name="Total Number of classes available" type="text" class="form-control" id="inputEmail4" placeholder="">
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="inputEmail4"></label>
              <input name="Number of year 13 students attending. (If blank then none are attending)" type="text5" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputEmail4"></label>
                <input name="Total Number of classes available" type="text" class="form-control" id="inputEmail4" placeholder="">
            </div>
    </div>

    <div class="col-md-12">
           <p>Select the option that best describes your students' availability.
                Sexwise can be timetabled into our school with:</p>                
    </div>

    <div class="form-group row">
        <div class="form-group col-sm-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label name="Students are available most periods" class="form-check-label" for="gridCheck1">
                        Students available most periods
                </label>
              </div>
            </div>
            <div class="form-group col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label name="Students are available for some periods" class="form-check-label" for="gridCheck1">
                                Students available some periods
                        </label>
                      </div>
                    </div>

                    <div class="form-group col-sm-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label name="Students available only during Health / PE periods" class="form-check-label" for="gridCheck1">
                                        Students available only during Health / PE periods
                                </label>
                              </div>
                            </div>
          </div>

          <p>Upload timetable or fill in table below.</p>


          <input type="submit" value="Submit">
    
  </form>

  <hr>





</div>