---
layout: hero
---

{{ content }}

<h2>Websites</h2>
<div class="container websites">

  <div class="row">
    {% for page in site.whanau-resources %}
    <div class="col-sm-12 col-md-3 website">
      <div class="website-body">
        <h4>{{ page.website_name}}</h4>
        <p>{{ page.website_blurb}}</p>
        <div class="website-button">
          <form action="{{ page.website_link }}">
          <button class="btn btn-1 btn-1a">Read More</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}



  </div>
  </div>

<section>
  <div class="container">
    {% if page.resource_name %}
    <h1>Additional Information</h1>
    {% endif %}
    <br>
    <div id="accordion">
      {% for page in site.accordion-whanau-resources %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="accordion-title">
            <button class="btn btn-link collapsed accordion-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ page.resource_name }}
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              {{ page.content }}
          </div>
        </div>
    </div>
    {% endfor %}



</div>
  </div>
</section>
